/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.container {
    padding: 0 80px;
}

/* banner style  */

.banner-section {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000;
    padding: 0 50px;
    grid-column-gap: 50px;
    border-radius: 30px;
}

.banner-content {
    padding-bottom: 50px;
}

.banner-content h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

.banner-content p {
    color: #fff;
    padding-bottom: 30px;
}

.button {
    background-color: #DD0000;
    text-decoration: none;
    padding: 16px 24px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.button i {
    position: relative;
    animation: animation 1s infinite;
    top: 2px;
}

@keyframes animation {
    from {
        left: 0px;
    }

    to {
        left: 15px;
    }
}

.banner-images {
    height: 100%;
    width: 100%;

}

.banner-images img {
    width: 100%;
    height: 100%;
    display: block;
}

/* blog-area style  */

.blog-area {
    display: grid;
    grid-template-columns: .7fr 2fr;
    padding: 100px 0;
}

.blog-area aside {

    height: 300px;
    background-color: #161616;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border-radius: 10px;
}

.blog-area aside a.blog-side-button {
    color: #161616;
    background-color: #fff;
    padding: 17px 40px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;


}

.blog-area aside a.blog-side-button.bg {
    background-color: #DD0000;
    color: #fff;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

}

.blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog img {
    width: 100%;

}

.blog-content {
    padding: 10px;
}

.blog-content .blog-button {
    color: #161616;
    font-weight: 500;
    padding: 4px 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    text-decoration: none;

}



.blog-content h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.icon-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-info span {
    color: #161616;
    font-size: 16px;
}

.view-all-button {
    display: none;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

/* footer area style   */

footer {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

}

.footer-area {
    padding: 60px 0;
}

.footer-logo h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.footer-logo hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav {
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 17px 20px;
}

nav ul li a {
    color: #B9B9B9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

/* footer icon  */
.footer-icon {
    text-align: center;
}

.footer-icon a {
    font-size: 35px;
    color: #fff;
    padding-left: 10px;
}

/* upcoming page style  */
.upcoming-blog {
    padding: 40px 25px;
}

.images {
    display: flex;
    align-items: center;
}

.images img {
    width: 100%;
}

.images h2 {
    margin: 0 10px;
}

.upcoming-list {
    text-align: center;
}

.upcoming-list h3 {
    font-size: 20px;
    font-weight: 600;
}

/* responsive design  */




@media screen and (max-width:1144px) {
    .container {
        padding: 0 50px;
    }

    .banner-content h1 {
        font-size: 55px;
    }

    .blog-area aside a.blog-side-button {
        padding: 17px 26px;
    }

}

/* tablet design  */

@media screen and (min-width:768px) and (max-width:991px) {
    .container {
        padding: 0 30px;
    }

    .banner-content h1 {
        font-size: 38px;
        line-height: 60px;
    }

    .button {
        padding: 10px 18px;
    }

    .blog-area {
        display: grid;
        grid-template-columns: 1fr;
        padding: 60px 0;
    }

    .blog-area aside {
        height: auto;
        background-color: #fff;
        display: grid;
        margin-right: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 30px 0;
    }

    .blog-area aside a.blog-side-button {
        padding: 17px 26px;
        border: 1px solid #E8E8E8;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);

    }

    .view-all-button {
        display: block;
        text-align: center;


    }
}

@media only screen and (max-width:767px) {

    .container {
        padding: 0 20px;
    }

    .banner-section {
        display: block;
        padding: 0 50px;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 30px;
        line-height: 33px;
        padding: 30px 0;
    }

    .blog-area {
        display: grid;
        grid-template-columns: 1fr;
        padding: 60px 0;
    }

    .blog-area aside {
        height: auto;
        background-color: #fff;
        display: grid;
        margin-right: 0;
        grid-row-gap: 20px;
    }

    .blog-area aside a.blog-side-button {
        padding: 17px 30px;
        border: 1px solid #E8E8E8;
    }

    .blogs {
        grid-template-columns: 1fr;
        padding-top: 20px;
    }

    nav ul li {
        display: block;
    }
}